<footer>
  <div id="section1">
    <h2>Categories</h2>
    <li id="first">
        <ul>Baby care</ul>
        <ul>Personal care</ul>
        <ul>Ayurvedic</ul>
    </li>
    <li id="second">
        <ul>First aid</ul>
        <ul>BP tabs</ul>
        <ul>diabetic needs</ul>
    </li>
    <li>
        <ul>Household</ul>
        <ul>Others</ul>
        <ul>extra</ul>
    </li>
  </div>
  <div id="section2">
    <h2>Contact</h2>
      <li>
        <ul>Email: <a href = "mailto: bharadwatest@gmail.com" color="white">bharadwatest@gmail.com</a></ul>
      </li>
      <li>
        <ul>Address: Thirthahalli</ul>
      </li>
  </div>
</footer>