<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/search_res_style.css">
    <link rel="stylesheet" href="../static/css/headder.css">

    <!-- ajax link  -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/ajax/addToCart.js"></script>
    <!-- end of link -->
    <title>{{ responce.product_name }}</title>
</head>

<body>
    <header id="header">
        <nav class="nav-bar">
            <ul>
                <div class="dropdown"><a id="logo" class="dropbtn"><img id="logo_img" src="../static/img/logo.png"></a>
                    <div class="dropdown-content">
                        <a target="_blank" href="{{url_for('vendor_login')}}">Vendor login</a>
                        <a target="_blank" href="{{url_for('vendor_signup')}}">Vendor Sign Up</a>
                        
                        {% if current_user.is_authenticated and current_user.super_user %}
                            <a href="admin">Admin</a>
                            <a target="_blank" href="{{ url_for('comp_display') }}">Complaints</a>
                        {% elif current_user.is_authenticated %}
                            <a target="_blank" href="{{ url_for('feedback') }}">feedback</a>
                            <a href="#footer">developers contact</a>
                        {% endif %}
                    </div>
                </div>
                <a id="home" href="/home">Home</a>
                <a id="about">About</a>
    
                <!-- dropdown menu -->
               <div class="dropdown">
                    <a class="dropbtn">Category</a>
                    <div class="dropdown-content">
                        <a target="_blank" href="{{ url_for('baby_care') }}">BabyCare</a>
                        <a target="_blank" href="{{ url_for('personal_care') }}">Personal Care</a>
                        <a target="_blank" href="{{ url_for('BP') }}">BP Tablets</a>
                        <a target="_blank" href="{{ url_for('cold_and_cough') }}">Cold and Cough</a>
                        <a target="_blank" href="{{ url_for('ayurvedic') }}">Ayurvedic</a>
                        <a target="_blank" href="{{ url_for('first_aid') }}">First Aid</a>
                        <a target="_blank" href="{{ url_for('diabetic_needs') }}">Diabitic needs</a>
                        <a target="_blank" href="{{ url_for('house_hold') }}">Household needs</a>
                        <a target="_blank" href="{{ url_for('others') }}">Others</a>
                    </div>
                </div>
  
                <!-- search bar and buttons -->
                 <form method="get" action="url_for('search',q=query)">
                    <input type="text" id="search-bar" name="query" class="search" placeholder="Search your query here"  >
                </form>
                <a href="{{url_for('cart')}}" title="cart" id="cart"><img id="cart-img" src="../static/img/cart-alt-1.svg" alt="cart logo">
                    {% if current_user.is_authenticated %}
                        <i><span id="count">{{ count }}</span></i></a>
                       <a href="{{url_for('logout')}}" title="Logout"><button type="submit" id="logout" value="Login"><img id="logout_img" src="../static/img/logout.png"></button></a>
                        <a href="{{url_for('profile')}}" title="Profile"><button id="profile" ><img id="img-profile" src="../static/img/whilte_user.png"></button></a>
                    {% else %}
                        <a href="{{url_for('login')}}"><button type="submit" id="login" value="Login">login</button></a>
                        <a href="{{url_for('sign_up')}}"><button id="signup" value="signup">Signup</button></a>
    
                    {% endif %}
    
            </ul>
        </nav>
    </header>
    <div id="container">

        <section id="section1">
            <div id="image_container">
                <a href="/details/{{ responce.id }}" target="_blank"><img id='img' src="{{ responce.image }}" alt="image"></a>

            </div>
            
        </section>

        <section id="section2">
            <div id="product_name">
                <h2>{{ responce.product_name}}</h2>                
            </div>
            
            <div id="description">
                <h4>Description</h4>
                <p id="desc">{{ responce.description }}</p>
            </div>
            
            <div id="rating">
               <b id="rating"><span id="rating_text">buyers rating</span>  &#9733;&#9733;&#9733;&#9733;&#9733;</b>
            </section>
            <section id="section3">
                <div id="price">
                    <h3 id="tag">Price</h3>
                    <h3>&#8377; {{ responce.price }} </h3>
                </div>
                <div id="discount">
                    <h3 id="tag">Discount</h3>
                    <h3>{{ responce.Discount }}<span id="decimal"></span>%</h3>
                </div>
                <div id="status">
                    <p id="sts_txt">Instock</p>
                </div>
                <div id="btn">
                    <button id="add" class="add-to-cart" value="{{ responce.id }}">Add to cart</button>
                </div>
        </section>

    </div>
    <hr>
    <!-- show the other products -->
    <h3>see also</h3>
     <div id="container_bottom">
      {% for pro in see_also %}
        <div id="suggestion">
            
            <div id="suggested-div">
                <a href="/details/{{ pro.id }}" target="_blank"><img src="{{pro.image}}" alt="product-img" id="product-img" title="#"></a>
                <span id="title">{{ pro.product_name[:18] }}...</span>

                <span id="line">
                    <hr>
                </span>
                <div id="price-div">
                    <span id="price_sub"><span id="INR">INR.{{pro.price}}</span></span>
                    <span id="discount">{{pro.Discount}}%</span>
                </div>
                <div id="cart-div">
                 <button type="submit" id="add-to-cart" class="add-to-cart" value="">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'footer.html' %}
</body>

</html>